// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

.navbar {
	background: transparent;
	border: none;
	border-bottom: 1px solid #eee;
	line-height: 50px; 
}

.navbar-nav li a {

}

.back-button {

}

.jumbotron {
	/* Rectangle 19: */
background: transparent;
	h2 {
		color: #ccc;
	}
	ul {
		display: table;
		list-style: none;
		margin:	0 auto;
		padding: 0;
		li {
			display: inline-block;
			margin: 25px;
		}
	}
}

.faq .jumbotron {

}

.lead {
	margin: 35px 20% 10px 20%;
}

.plan-icon {
	display: block;
	margin: 25px auto; 
}

.panel {

}
.panel-default .panel-heading {
	background: white;
	text-align: center;
}
.panel-body {
	h4 {text-align: center;}
	p {text-align: center;}
}


/* Use the following CSS code if you want to have a class per icon */

.panel {
	ul { padding-left: 20px; list-style:none; }
	li { margin-bottom: 10px; }
	li:before {    
	    font-family: 'FontAwesome';
	    content: '\f192';
	    color: #31baee;
	    margin:0 5px 0 -17px;
	}
}

.parallax-window {
    min-height: 400px;
	background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, rgba(225,225,225,0.70) 100%);

	h2 {
		color: white;
		padding-top: 100px;
	}
}

.questions {
	padding: 2em 0;

	hr {
		margin: 2em;
	}
}

section {
	margin: 4em 0 2em;

	p {
		margin-top:3em;
	}
}


footer {
	padding-top: 2em;
	color: white;
	position:relative;
	background: #3A3B3E;
	min-height:250px;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			margin: 0;
		}
	}
}


.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-radius: 0;
  border: none;
  background-color: none;
}

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: .5;
  font-size: 20px;
  color: #31baee;
  text-align: center;
  text-shadow: none;
}
.carousel-control:hover {
  color: #31baee;
}

.carousel-control:focus {
  color: #31baee;
}


.carousel-control.left {
	background-image: none;
}
.carousel-control.right {
  left: auto;
  right: 0;
  background-image: none;
}

.carousel-control {
  padding-top:10.25%;
  width:5%;
}